# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/main/resources/web/dist
/main/resources/web/dist-server
/main/resources/web/tmp
/main/resources/web/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/main/resources/web/e2e/*.js
/main/resources/web/e2e/*.map

# System Files
.DS_Store
Thumbs.db

*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
project/boot
target/
/logs
.cache
.settings
